node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
database.sqlite

/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt

.env
package-lock.json
yarn.lock
shopify.app.toml
shopify.app.*.toml
.dev.vars
.wrangler
